# Environment variables
.env

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Generated processed data
data/02_processed/*.csv

# Archived data
data/03_archive/

# OS files
.DS_Store
Thumbs.db